/* Para organizar melhor o documento as partes devem ficar separadas por ordem de posição
header no topo, body no meio e footer no final do doc.
Configurações extras como a adção de fontes ou customisação de partes que podem pertencer a 
mais de um componente devem ficar antes do header, assim mantemos a legibilidade do documento.  */

/* Essa parte diz respeito a estilização de partes que podem pertencer a mais de um componente e
deve ficar aqui, no cabeçalho do documento */

@font-face {
    font-family: Kalam;
    src: url(img/Kalam.ttf);
}

@font-face {
    font-family: Laila;
    src: url(img/Laila.ttf);
}

.body {
    background: #BBF0F1;
    background: -moz-linear-gradient(left, #BBF0F1 0%, #E4E4E4 61%, #F3D7A0 100%);
    background: -webkit-linear-gradient(left, #BBF0F1 0%, #E4E4E4 61%, #F3D7A0 100%);
    background: linear-gradient(to right, #BBF0F1 0%, #E4E4E4 61%, #F3D7A0 100%);
    color: rgb(0, 0, 0);
    display: flex;
    height: 100%;
    justify-content: center;

}

main {
    font-family: Laila;
    text-shadow: 0px 4px 4px darkgray;
    display: flex;
    min-height: 540px;
    max-height: none;
    height: 100%;
/*    min-width: 650px;
    max-width: 650px; */
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header {
    display: flex;
    max-width: none;
    max-height: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
}

footer {
    display: flex;
    max-width: none;
    max-height: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

button {
    border: 1px;
    font-family: Laila;
    color: black;
    border-radius: 20px;
    border-color: darkgrey;
    transition-duration: 0.4s;
    box-shadow: 0px 4px 8px lightgray;
    margin: 8px;
    height: 20px;
    padding: auto 8px auto 8px;

}

button:hover {
    background-color: lightgray;
    color: black;
}

input {
    border: 1px;
    border-radius: 20px;
    border-color: lightgrey;
    padding: 2px 8px;
    box-shadow: 0px 4px 8px lightgray;
}

.logo-pet-190 {
    display: block;
    margin: auto;
    width: 200px;
    filter: drop-shadow(0px 8px 4px darkgray);
}

.logo-pet-190-titulo {
    display: flex;
    font-family: kalam;
    font-size: 47pt;
    color: #FF9494;
    text-shadow: 0px 8px 4px darkgray;
    letter-spacing: -4pt;
    line-height: 40%;
    width: 170px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}

.cabecalho {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50px;
    min-width: 480px;
    max-width: none;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(211, 211, 211, 0.4);
}

.logo-pet-190-mini {
    display: flex;
    filter: drop-shadow(0px 8px 4px darkgray);
    width: 40px;
    height: 40px;
    margin: 2px 0px 0px 0px;
}

.logo-pet-190-titulo-mini {
    display: inline-flex;
    font-family: kalam;
    font-size: 18pt;
    color: #FF9494;
    text-shadow: 0px 8px 4px darkgray;
    letter-spacing: -4pt;
    width: 60px;
    margin: 4px 4px 4px 0px;
    justify-content: space-around;
    align-content: center;
}

.logo-header {
    display: flex;
    min-width: 140px;
    justify-content: space-around;
    align-content: center;
    height: 40px;
}

.menu-header-perfil {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 250px;
}

.foto-perfil {
    display: inline-flex;
    filter: drop-shadow(0px 8px 4px darkgray);
    width: 40px;
    height: 40px;
    margin: 4px 0px 0px 0px;
}

.foto-voluntario-mini {
    display: inline-flex;
    width: 40px;
    height: 40px;
    margin: 0px 0px 0px 0px;
}


/* Essa parte diz respeito a configuração do header e deve ser mantida no topo do documento*/

.btn-emergencia {
    background-color: lightcoral;
    width: 90px;
    display: flex;
    min-width: 90px;
    box-shadow: 0px 4px 8px lightgray;
    margin: 8px;
    height: 20px;
    padding: auto 8px auto 8px;
}

.btn-emergencia:hover {
    color: black;
    background-color: red;
}

/* Essa parte diz respeito a configuração do body e deve ser mantida no meio do documento*/

/* Página index*/
.box-header {
    display: flex;
    flex-direction: column;
}

.login-box {
    display: flex;
    margin: auto;
    min-width: 240px;
    min-height: 90px;
}

.login-box-menu {
    display: flex;
    margin: auto;
    min-width: 130px;
    max-width: 240px;
    min-height: 40px;
    flex-wrap: wrap;
}

.esqueci-senha {
    font-size: 12px;
}

.login-box-menu:last-child {
    justify-content: center;
}

.catch-frase {
    font-size: 14pt;
    text-align: center;
}

/* Página perfil1 */

.perfil-display {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 63px;
}

.perfil-top {
    display: flex;
    width: 100%;
    background-color: rgb(211, 211, 211, 0.4);
    height: auto;
    border-radius: 0px 0px 20px 20px;
    filter: drop-shadow(0px 4px 4px darkgray);
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.perfil-top-logo-box {
    display: flex;
    height: 80px;
    align-items: center;
}

.foto-perfil-view {
    display: flex;
    width: 80px;
    height: 80px;
}

.nome-perfil-text-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 80px;
}

.perfil-top-rating-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    height: 80px;
    margin: 0px 0px 0px auto;
}

.rating-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 0px 20px 0px auto;
}

.rating-box-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.like-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin: 0px 20px 0px 0px;
    align-items: center;
}

.like-box-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.perfil-top-contato-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: auto;
    margin: 0px auto 0px 40px;
}

.contato-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.perfil-top-url-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 72px;
}

.perfil-body {
    position: relative;
    display: flex;
    min-height: 200px;
}

&::before {
    content: '';
    position: relative;
    background-image: url('img/pawprint.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.1;
}

/* Essa parte diz respeito a configuração do footer e deve ser mantida aqui no final do documento*/

.footer-box {
    min-width: 480px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    background-color: rgb(211, 211, 211, 0.4);
    min-height: 63px;
    justify-content: center;
    align-items: center;
}

.footer-contents {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 53px;
    gap: 18px;
    min-width: 380px;
    width: 80%;
    margin: 0px 18px;
}

.footer-text {
    display: flex;
    min-width: 380px;
    width: 100%;
    font-size: 8px;
    margin: 0px 8px 0px auto;
    padding-top: 10px;
}

.black-line {
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 0px 10% 0px 10%;
    width: 80%;
    height: 1px;
}

.logo-puc-footer {
    display: flex;
    margin: 0px auto 0px 0px;
}