/* Para organizar melhor o documento as partes devem ficar separadas por ordem de posição
header no topo, body no meio e footer no final do doc.
 Configurações extras como a adção de fontes ou customisação de partes que podem pertencer a 
 mais de um componente devem ficar antes do header, assim mantemos a legibilidade do documento.  */

/* Essa parte diz respeito a configuração de partes que podem pertencer a mais de um componente e
 deve ficar aqui, no cabeçalho do documento */

@font-face {
    font-family: Kalam;
    src: url(img/Kalam.ttf);
}

@font-face {
    font-family: Laila;
    src: url(img/Laila.ttf);
}

button {
    border: 1px;
    font-family: Laila;
    color: black;
    border-radius: 20px;
    border-color: darkgrey;
    transition-duration: 0.4s;
    box-shadow: 0px 4px 8px lightgray;
    margin: 8px;
}

button:hover {
    background-color: lightgray;
    color: black;
}

input {
    border: 1px;
    border-radius: 20px;
    border-color: lightgrey;
    padding: 2px 8px;
    box-shadow: 0px 4px 8px lightgray;
}

/* Essa parte diz respeito a configuração do header e deve ser mantida no topo do documento*/


/* Essa parte diz respeito a configuração do body e deve ser mantida no meio do documento*/

.body {
    background: #BBF0F1;
    background: -moz-linear-gradient(left, #BBF0F1 0%, #E4E4E4 61%, #F3D7A0 100%);
    background: -webkit-linear-gradient(left, #BBF0F1 0%, #E4E4E4 61%, #F3D7A0 100%);
    background: linear-gradient(to right, #BBF0F1 0%, #E4E4E4 61%, #F3D7A0 100%);
    color: rgb(0, 0, 0);
    display: block;
    width: 100%;
}

.login-box {
    display: flex;
    margin: auto;
    width: 240px;
}

.login-box-menu {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 240px;
}

main {
    font-family: Laila;
    text-shadow: 0px 4px 4px darkgray;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.logo-pet-190 {
    display: block;
    margin: auto;
    width: 200px;
    filter: drop-shadow(0px 8px 4px darkgray);
}

.logo-pet-190-mini {
    display: inline-flex;
    margin: auto;
    padding: 4px 0px 4px 18px;
    filter: drop-shadow(0px 8px 4px darkgray);
    width: 40px;
}

.logo-pet-190-titulo {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: kalam;
    font-size: 47pt;
    color: #FF9494;
    text-shadow: 0px 8px 4px darkgray;
    letter-spacing: -4pt;
    line-height: 40%;
    width: 200px;
}

.logo-pet-190-titulo-mini {
    display: inline-flex;
    font-family: kalam;
    font-size: 18pt;
    color: #FF9494;
    text-shadow: 0px 8px 4px darkgray;
    letter-spacing: -4pt;
    width: 60px;
    margin: 4px 4px 4px 0px;
    position: absolute;
    top: 0px;
    justify-content: space-around;
}

.catch-frase {
    font-size: 14pt;
    text-align: center;
}

.cabecalho {
    display: inline-block;
    width: 100%;
    background-color: rgb(211, 211, 211, 0.4);
    height: 50px;
}

/* Essa parte diz respeito a configuração do footer e deve ser mantida aqui no final do documento*/

.footer-box {
    width: 100%;
    display: grid;
    background-color: rgb(211, 211, 211, 0.4);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 63px;
}

.footer-contents {
    display: grid;
    justify-content: center;
    height: 63px;
    padding-top: 10px;
    gap: 18px;
    width: 700px;
    margin: 0px auto 0px auto;    
}

.footer-text {
    display: grid;
    width: 520px;
    font-size: 8px;
}

.black-line {
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 0px auto 0px auto;
    width: 700px;
    height: 1px;
}
.logo-puc-footer{
    display: grid;

}